<ul class="widget widget-menu unstyled">
    <li><a href="/"><i class="menu-icon icon-dashboard"></i>Dashboard</a></li>
</ul><!--/.widget-nav-->

<ul class="widget widget-menu unstyled">
    <li><a href="/campaign2/send.php" target="_blank"><i class="menu-icon icon-cloud"></i>Test Global</a></li>
    <li><a href="/campaign/send.php"><i class="menu-icon icon-envelope"></i>Send Campaign</a></li>
    <li><a href="/campaign/show.php"><i class="menu-icon icon-cogs"></i>Manage Campaigns</a></li>
</ul><!--/.widget-nav-->

<ul class="widget widget-menu unstyled">
    <li><a href="/pmta/monitor.php" target='_blank'><i class="menu-icon icon-calendar"></i>PowerMTA Monitoring</a></li>
    <li class="active"><a href="/manage.php"><i class="menu-icon icon-cogs"></i>Manage PowerMTA</a></li>
    <li class="active"><a href="/pmta/log.php"><i class="menu-icon icon-file"></i>PowerMTA Log</a></li>
</ul><!--/.widget-nav-->

<ul class="widget widget-menu unstyled">
    <li><a href="/image/upload.php" target="_blank"><i class="menu-icon icon-upload"></i>Upload Images</a></li>
    <li><a href="/image/show.php"><i class="menu-icon icon-cogs"></i>Manage Images</a></li>
</ul><!--/.widget-nav-->

<ul class="widget widget-menu unstyled">
    <li>
        <a class="collapsed" data-toggle="collapse" href="#togglePages"><i class="menu-icon icon-bullhorn"></i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>Offers</a>
        <ul id="togglePages" class="collapse unstyled">
            <li><a href="/offer/show.php"><i class="menu-icon icon-list"></i>Show Offers</a></li>
            <li><a href="/offer/links.php"><i class="menu-icon icon-link"></i>Create Redirects</a></li>
        </ul>
    </li>
    <li><a href="/sponsor/show.php"><i class="menu-icon icon-certificate"></i>Sponsors</a></li>
    <li><a href="/server/show.php"><i class="menu-icon icon-hdd"></i>Servers</a></li>
	<li>
        <a class="collapsed" data-toggle="collapse" href="#togglePages2"><i class="menu-icon icon-bullhorn"></i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>VMTAs</a>
        <ul id="togglePages2" class="collapse unstyled">
            <li><a href="/server/vmta/show.php"><i class="menu-icon icon-list"></i>Show VMTAs</a></li>
			<li><a href="/server/vmta/add.php"><i class="menu-icon icon-map-marker"></i>Create VMTA</a></li>
        </ul>
    </li>
</ul>

<ul class="widget widget-menu unstyled">
    <li>
        <a class="collapsed" data-toggle="collapse" href="#togglePages3"><i class="menu-icon icon-wrench"></i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>Tools</a>
        <ul id="togglePages3" class="collapse unstyled">
            <li><a href="/tool/webmail.php"><i class="menu-icon icon-inbox"></i>Webmail</a></li>
            <li><a href="/tool/dns_lookup.php"><i class="menu-icon icon-globe"></i>DNS LookUp</a></li>
		</ul>
    </li>
</ul>

<ul class="widget widget-menu unstyled">
   <li><a href="/account/logout.php"><i class="menu-icon icon-signout"></i>Logout</a></li>
</ul>
